.git
.hg*

*.dis
*.sbl

# the following are copied from .hgignore
*.[8qkv5967o]
*.obj
[8qkv965o].out
[8qkv965o].emu
obj.out
obj.map
vc*.pdb
y.output
y.tab.[ch]
y.debug
*.a
emu/*/*.root.[ch]
emu/*/errstr.h
emu/*/srv.h
emu/*/srvm.h
[A-Z]*/*/bin/?[acl]
[A-Z]*/*/bin/5coff
[A-Z]*/*/bin/5cv
[A-Z]*/*/bin/acid
[A-Z]*/*/bin/asm
[A-Z]*/*/bin/data2s
[A-Z]*/*/bin/emu
[A-Z]*/*/bin/limbo
Nt/*/bin/?[acl].exe
Nt/*/bin/5coff.exe
Nt/*/bin/5cv.exe
Nt/*/bin/acid.exe
Nt/*/bin/asm.exe
Nt/*/bin/data2s.exe
Nt/*/bin/emu.exe
Nt/*/bin/limbo.exe
Nt/*/bin/ftl.exe
Nt/*/bin/iar.exe
Nt/*/bin/idea.exe
Nt/*/bin/inm.exe
Nt/*/bin/kprof.exe
Nt/*/bin/ksize.exe
Nt/*/bin/kstrip.exe
Nt/*/bin/md5sum.exe
Nt/*/bin/mkppcimage.exe
Nt/*/bin/ms2.exe
Nt/*/bin/ndate.exe
Nt/*/bin/ntsrv.exe
Nt/*/bin/sqz.exe
Nt/*/bin/srclist.exe
Nt/*/bin/styxtest.exe
emu/Nt/*.map
emu/Nt/*.exe
keydb/keys
keydb/countersigned
keydb/signed
keydb/signerkey
tmp/*

# Only Linux 386 files are needed for Docker
arm/*
power/*
spim/*
MacOSX/*
Nt/*
Dragonfly/*
FreeBSD/*
NetBSD/*
OpenBSD/*
