# object files, libraries, etc
*.[8qkv5967o]
*.obj
[8qkv965o].out
[8qkv965o].emu
obj.out
obj.map
vc*.pdb
*.a

# yacc artifacts
y.output
y.tab.[ch]
y.debug

/contrib/
/grid/
/tmp/
/usr/

/keydb/keys
/keydb/countersigned
/keydb/signed
/keydb/signerkey

/appl/**/*.dis
/appl/**/*.sbl

# generated C headers for built-in modules
/libinterp/cryptmod.h
/libinterp/drawmod.h
/libinterp/freetypemod.h
/libinterp/ipintsmod.h
/libinterp/keyring.h
/libinterp/keyringif.h
/libinterp/loadermod.h
/libinterp/mathmod.h
/libinterp/runt.h
/libinterp/sysmod.h
/libinterp/tkmod.h

/limbo/runt.h

# emu build artifacts
/emu/*/*.root.[ch]
/emu/*/emu.c
/emu/*/errstr.h
/emu/*/srv.h
/emu/*/srvm.h

/emu/Nt/*.map
/emu/Nt/*.exe

# initial mk from makemk.sh
/utils/mk/mk

# no binaries are committed for any of the netbsd ports
# can be deleted if wildcard from the comment below is enabled
/NetBSD/*/bin/

# preserve the patterns from .hgignore, though perhaps all binaries
# should be deleted and ignored with:
# /[A-Z]*/*/bin/

/[A-Z]*/*/bin/?[acl]
/[A-Z]*/*/bin/5coff
/[A-Z]*/*/bin/5cv
/[A-Z]*/*/bin/acid
/[A-Z]*/*/bin/asm
/[A-Z]*/*/bin/data2s
/[A-Z]*/*/bin/emu
/[A-Z]*/*/bin/limbo

/Nt/*/bin/?[acl].exe
/Nt/*/bin/5coff.exe
/Nt/*/bin/5cv.exe
/Nt/*/bin/acid.exe
/Nt/*/bin/asm.exe
/Nt/*/bin/data2s.exe
/Nt/*/bin/emu.exe
/Nt/*/bin/ftl.exe
/Nt/*/bin/iar.exe
/Nt/*/bin/idea.exe
/Nt/*/bin/inm.exe
/Nt/*/bin/kprof.exe
/Nt/*/bin/ksize.exe
/Nt/*/bin/kstrip.exe
/Nt/*/bin/limbo.exe
/Nt/*/bin/md5sum.exe
/Nt/*/bin/mkppcimage.exe
/Nt/*/bin/ms2.exe
/Nt/*/bin/ndate.exe
/Nt/*/bin/ntsrv.exe
/Nt/*/bin/sqz.exe
/Nt/*/bin/srclist.exe
/Nt/*/bin/styxtest.exe
